[submodule "bks_module/remoteswap"]
	path = bks_module/remoteswap
	url = https://github.com/lscat11/remoteswap.git
	branch = evacuate
[submodule "apps/ligra/ligra"]
	path = apps/ligra/ligra
	url = https://github.com/jshun/ligra.git
[submodule "third_party/jemalloc"]
	path = third_party/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "apps/phoenix/phoenix"]
	path = apps/phoenix/phoenix
	url = https://github.com/kozyraki/phoenix.git
[submodule "apps/snappy/snappy"]
	path = apps/snappy/snappy
	url = https://github.com/google/snappy.git
[submodule "apps/memcached/memcached"]
	path = apps/memcached/memcached
	url = https://github.com/memcached/memcached.git
[submodule "apps/gapbs/gapbs"]
	path = apps/gapbs/gapbs
	url = https://github.com/sbeamer/gapbs.git
[submodule "atlas-apps"]
	path = atlas-apps
	url = https://github.com/lscat11/atlas-apps.git
	branch = main
